.popupContentWrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100% - 32px);
}

.actionsHeader {
    display: flex;
    gap: 16px;
}

.wraplistForms {
    padding: 16px;
    border: thin solid var(--border-color);
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wraplistForms>.title {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: thin dashed var(--border-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    margin-right: -12px;
    padding-right: 4px;
}

.itemsContainer::-webkit-scrollbar {
    width: 8px;
}

.itemsContainer::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 3px;
    width: 8px;
}

.item {
    padding: 8px;
    border-radius: 5px;
    background: var(--bg-primary);
    cursor: pointer;
    transition: all .3s linear;
}

.item:hover {
    background: var(--hover);
}

.mainform {
    padding: 16px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 16px;
}

.fieldSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.fieldButton {
    padding: 8px 12px;
    border-radius: 4px;
    border: thin solid var(--hover);
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: var(--font-size-xs);
}

.fieldButton:hover {
    border-color: var(--hover);
    border: thin solid var(--border-color);
}

.fieldButton.selected {
    background-color: var(--main_d);
    color: white;
    border-color: var(--border-color);
}