/* ui/WorkflowManager/index.module.css */

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}